.ingredient-header {
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    background-color: $shadow-darkest;
    color: $white;
    padding: 1.25rem 2rem;
    margin-left: -2rem;
    margin-right: -2rem;
    margin-bottom: -2rem;
    margin-top: 7rem;
  }
}
