main {
  margin-top: 6rem;
}

.runway {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.navbar-main {
  background: $green-400;
  box-shadow: 0 0 1rem $shadow-darkest;

  a {
    color: $white !important;
  }
}

.bg-dim {
  background-color: $gray-100;
}

.user-profile-photo {
  height: 2rem;
  width: 2rem;
  border-radius: 0.25rem;
  margin-left: 0.5rem;
}
