main {
  margin-top: 6rem;
  padding-bottom: 3rem;
}

.runway {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.navbar-main {
  background: $gray-950;
  box-shadow: 0 0 1rem $shadow-darkest;

  a {
    font-family: $font-family-brand-light;
    font-weight: 300;
    text-transform: uppercase;
    color: $gray-400;

    &:hover {
      color: $gray-100;
    }

    .active {
      color: $white;
    }
  }

  .nav-item {
    margin-right: 1rem;

    &:first-child {
      margin-left: 1rem;
    }
  }

  .navbar-brand {
    margin-bottom: -0.5rem;
  }
}

.bg-dim {
  background-color: $gray-100;
}

.user-profile-photo {
  height: 2rem;
  width: 2rem;
  border-radius: 0.25rem;
  margin-left: 0.5rem;
}

.jumbotron {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;

  video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%; 
    min-height: 100%; 
    
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
    
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.jumbotron-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  color: $white;
  background: rgba(0,0,0,0.3);
  text-align: center;

  h1 {
    margin-top: 20vh;
    font-size: 5rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
  }

  h2 {
    font-family: $font-family-brand-light;
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
  }

  .btn {
    margin-top: 5rem;
  }
}

.recipe-detail-header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -20rem;
  min-height: 27rem;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.page-title-header {
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    background-color: $shadow-darkest;
    color: $white;
    padding: 1.25rem 2rem;
    margin-left: -2rem;
    margin-right: -2rem;
    margin-bottom: -2rem;
    margin-top: 7rem;

    small {
      font-family: $font-family-sans-serif;
      font-size: 1rem;
      font-weight: bold;
      color: $gray-200;
      margin-left: 1rem;
    }
  }
}

.recipe-detail-content {
  width: 100%;
  max-width: 1440px;

  .page-title-header {
    h1 {
      position: absolute;
      top: 14.75rem;
      left: 0;
      width: 100%;
      padding-left: 7rem;
    }
  }
}

.recipe-runway {
  padding-top: 24rem;
  padding-left: 2rem;
}

.recipe-nutrition {
  padding-top: 10rem;
}

.recipe-actions {
  position: absolute;
  right: 1rem;
  top: 18rem;

  a {
    font-weight: bold;
    color: $gray-100;

    .material-icons {
      vertical-align: bottom;
    }
  }
}