<div class="recipe-detail-header" *ngIf="recipe && recipe.imageUrl"
     [ngStyle]="{ 'background-image': 'url(' + recipe.imageUrl + ')' }">
</div>
<div class="recipe-detail-content" *ngIf="recipe">
  <div class="page-title-header">
    <h1>
      {{ recipe.name }}
      <small>Submitted by {{ recipe.userName }}</small>
    </h1>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-7 col-xl-8 recipe-runway" *ngIf="recipe">
      <div class="recipe-actions">
        <a href="javascript:void(0);">Edit Recipe <i class="material-icons">create</i></a>
      </div>
      <h2>Ingredients</h2>

      <table class="table table-striped">
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Quantity</th>
        </tr>
        <tr *ngFor="let ingredient of recipe.ingredients">
          <td>
            {{ ingredient.name }}
          </td>
          <td>{{ingredient.category}}</td>
          <td>
            {{ ingredient.quantity }} {{ingredient.units}}
          </td>
        </tr>
      </table>
      <br/>
      <h2>Cooking Instructions</h2>
      <ol>
        <li>{{recipe.instructions}}</li>
      </ol>

    </div>
    <div class="col-12 col-sm-6 col-lg-5 col-xl-4 recipe-nutrition" *ngIf="nutritionData">
      <nutrition-facts [ingredient]="nutritionData" [enableEditing]="false"></nutrition-facts>
    </div>
  </div>
</div>
