<div class="table-container">
  <ng-content select="header"></ng-content>
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let col of config.columns">
          <a href="javascript:void(0);" (click)="toggleSort(col)" *ngIf="col.sortable !== false">
              {{ getColumnLabel(col) }}
              <i class="material-icons" *ngIf="dataService.sortField == col.field && dataService.sortAsc">keyboard_arrow_up</i>
              <i class="material-icons" *ngIf="dataService.sortField == col.field && !dataService.sortAsc">keyboard_arrow_down</i>
            </a>
          <a href="javascript:void(0);" *ngIf="col.sortable === false">{{ getColumnLabel(col) }}</a>
        </th>
      </tr>
    </thead>
    <ng-content select="tbody"></ng-content>
  </table>
  <ng-content select="footer"></ng-content>
</div>