<div class="card">
    <div class="card-body">
      <div class="row no-gutters pb-2">
        <div class="col-10">
          <h3 class="card-title">Nutrition Facts</h3>
        </div>
        <div class="col-2 text-right">
          <i class="material-icons text-success">verified_user</i>
        </div>
      </div>
      <strong>Serving Size</strong>
      <div class="row no-gutters pt-2" *ngIf="!enableEditing">
        <div class="col-6">
          <input type="number" class="form-control" [(ngModel)]="servingSize" />
        </div>
        <div class="col-6 pl-1">
          <select class="form-control" [(ngModel)]="servingSizeUnit">
            <option *ngFor="let unit of measurementUnits" [ngValue]="unit.value" [disabled]="ingredient.measurementType != unit.measurementType">{{ unit.label }} ({{ unit.value }})</option>
          </select>
        </div>
      </div>
      <div *ngIf="enableEditing" class="pt-2">
        {{ this.servingSize }}{{ this.servingSizeUnit }}
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item divider header">
        <strong class="text-calories-label">Calories</strong>
        <strong class="text-calories-value" *ngIf="!enableEditing">{{ getServingData('calories') }}</strong>
        <strong class="text-calories-value" *ngIf="enableEditing"><input type="number" class="form-control macro-input" [(ngModel)]="nutrition.calories" /></strong>
      </li>
      <li class="list-group-item nutrition-data">
        <div class="row">
          <div class="col-8">
            <strong class="macro-label">Total Fat</strong>
            <span *ngIf="!enableEditing">{{ getServingData('totalFat') | unit : 'g' }}</span>
          </div>
          <div class="col-4 text-right">
            <span *ngIf="!enableEditing">{{ getServingPercent('totalFat') }}</span>
            <span *ngIf="enableEditing"><input type="number" class="form-control macro-input" [(ngModel)]="nutrition.totalFat" /></span>
          </div>
        </div>
      </li>
      <li class="list-group-item nutrition-data">
        <div class="row">
          <div class="col-8">
            <span class="ml-3 macro-label">Saturated Fat</span>
            <span *ngIf="!enableEditing">{{ getServingData('saturatedFat') | unit : 'g' }}</span>
          </div>
          <div class="col-4 text-right">
            <span *ngIf="!enableEditing">{{ getServingPercent('saturatedFat') }}</span>
            <span *ngIf="enableEditing"><input type="number" class="form-control macro-input" [(ngModel)]="nutrition.saturatedFat" /></span>
          </div>
        </div>
      </li>
      <li class="list-group-item nutrition-data">
        <div class="row">
          <div class="col-8">
            <span class="ml-3 macro-label">Trans Fat</span>
            <span *ngIf="!enableEditing">{{ getServingData('transFat') | unit : 'g' }}</span>
          </div>
          <div class="col-4 text-right">
            <span *ngIf="!enableEditing">{{ getServingPercent('transFat') }}</span>
            <span *ngIf="enableEditing"><input type="number" class="form-control macro-input" [(ngModel)]="nutrition.transFat" /></span>
          </div>
        </div>
      </li>
      <li class="list-group-item nutrition-data">
        <div class="row">
          <div class="col-8">
            <span class="ml-3 macro-label">Polyunsaturated Fat</span>
            <span *ngIf="!enableEditing">{{ getServingData('polyunsaturatedFat') | unit : 'g' }}</span>
          </div>
          <div class="col-4 text-right">
            <span *ngIf="!enableEditing">{{ getServingPercent('polyunsaturatedFat') }}</span>
            <span *ngIf="enableEditing"><input type="number" class="form-control macro-input" [(ngModel)]="nutrition.polyunsaturatedFat" /></span>
          </div>
        </div>
      </li>
      <li class="list-group-item nutrition-data">
        <div class="row">
          <div class="col-8">
            <span class="ml-3 macro-label">Monounsaturated Fat</span>
            <span *ngIf="!enableEditing">{{ getServingData('monounsaturatedFat') | unit : 'g' }}</span>
          </div>
          <div class="col-4 text-right">
            <span *ngIf="!enableEditing">{{ getServingPercent('monounsaturatedFat') }}</span>
            <span *ngIf="enableEditing"><input type="number" class="form-control macro-input" [(ngModel)]="nutrition.monounsaturatedFat" /></span>
          </div>
        </div>
      </li>
      <li class="list-group-item nutrition-data">
        <div class="row">
          <div class="col-8">
            <strong class="macro-label">Total Carbohydrate</strong>
            <span *ngIf="!enableEditing">{{ getServingData('totalCarbohydrate') | unit : 'g' }}</span>
          </div>
          <div class="col-4 text-right">
            <span *ngIf="!enableEditing">{{ getServingPercent('totalCarbohydrate') }}</span>
            <span *ngIf="enableEditing"><input type="number" class="form-control macro-input" [(ngModel)]="nutrition.totalCarbohydrate" /></span>
          </div>
        </div>
      </li>
      <li class="list-group-item nutrition-data">
        <div class="row">
          <div class="col-8">
            <span class="ml-3 macro-label">Sugar</span>
            <span *ngIf="!enableEditing">{{ getServingData('sugar') | unit : 'g' }}</span>
          </div>
          <div class="col-4 text-right">
            <span *ngIf="!enableEditing">{{ getServingPercent('sugar') }}</span>
            <span *ngIf="enableEditing"><input type="number" class="form-control macro-input" [(ngModel)]="nutrition.sugar" /></span>
          </div>
        </div>
      </li>
      <li class="list-group-item nutrition-data">
        <div class="row">
          <div class="col-8">
            <span class="ml-3 macro-label">Dietary Fiber</span>
            <span *ngIf="!enableEditing">{{ getServingData('fiber') | unit : 'g' }}</span>
          </div>
          <div class="col-4 text-right">
            <span *ngIf="!enableEditing">{{ getServingPercent('fiber') }}</span>
            <span *ngIf="enableEditing"><input type="number" class="form-control macro-input" [(ngModel)]="nutrition.fiber" /></span>
          </div>
        </div>
      </li>
      <li class="list-group-item nutrition-data bg-dim">
        <div class="row">
          <div class="col-8">
            <strong class="ml-3 macro-label">Net Carbs</strong>
            <span>{{ getServingData('netCarbs') | unit : 'g' }}</span>
          </div>
          <div class="col-4 text-right">
            <span>{{ getServingPercent('netCarbs') }}</span>
          </div>
        </div>
      </li>
      <li class="list-group-item nutrition-data">
        <div class="row">
          <div class="col-8">
            <strong class="macro-label">Protein</strong>
            <span *ngIf="!enableEditing">{{ getServingData('protein') | unit : 'g' }}</span>
          </div>
          <div class="col-4 text-right">
            <span *ngIf="!enableEditing">{{ getServingPercent('protein') }}</span>
            <span *ngIf="enableEditing"><input type="number" class="form-control macro-input" [(ngModel)]="nutrition.protein" /></span>
          </div>
        </div>
      </li>
      <li class="list-group-item nutrition-data">
        <div class="row">
          <div class="col-8">
            <strong class="macro-label">Cholesterol</strong>
            <span *ngIf="!enableEditing">{{ getServingData('cholesterol') | unit : 'mg' }}</span>
          </div>
          <div class="col-4 text-right">
            <span *ngIf="!enableEditing">{{ getServingPercent('cholesterol') }}</span>
            <span *ngIf="enableEditing"><input type="number" class="form-control macro-input" [(ngModel)]="nutrition.cholesterol" /></span>
          </div>
        </div>
      </li>
      <li class="list-group-item nutrition-data">
        <div class="row">
          <div class="col-8">
            <strong class="macro-label">Sodium</strong>
            <span *ngIf="!enableEditing">{{ getServingData('sodium') | unit : 'mg' }}</span>
          </div>
          <div class="col-4 text-right">
            <span *ngIf="!enableEditing">{{ getServingPercent('sodium') }}</span>
            <span *ngIf="enableEditing"><input type="number" class="form-control macro-input" [(ngModel)]="nutrition.saturatedFat" /></span>
          </div>
        </div>
      </li>
    </ul>
    <div class="card-body bg-dim" *ngIf="!enableEditing">
      Show DV % as percentages of <select class="form-control mt-2"
        [(ngModel)]="recommendationType"
        (ngModelChange)="setGoalPreference()">
        <option value="standard">FDA Standard 2000 Calorie Diet</option>
        <option value="user">User Customized Nutrition Goals</option>
      </select>
    </div>
    <div class="card-body bg-dim" *ngIf="enableEditing">
      <small>All macronutrient data should be entered for in milligrams (mg) for a serving size of 100 grams (g).</small>
    </div>
  </div>